<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>QnA</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles3.css">

  </head>
  <body>

    <section>

      <div class="wave"></div>

      <nav class="navbar navbar-expand-lg navbar-dark navtitle">
    <a class="navbar-brand" href="#"> <img class="logo" src="images/icon.png" style="border-radius:100%"  width="60" height="60" alt="icon"> WeCBR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item nav-icons">
          <a class="nav-link" href="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Explore</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">QnA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Download</a>
        </li>
        <li class="nav-item">
          <a class="nav-link lastnavItem" href="">ContactUs</a>
        </li>

      </ul>
    </div>
  </nav>

    </section>

    <div class="leftBar">

         <a  class="element top"  href="#">Home</a>
         <a  class="element" href="#">FAQ</a>
         <a  class="element" href="#">Something</a>
         <a  class="element" href="#">SomethingElse</a>
    
    </div>
    <div class="main">
      <!-- <img src="/images/home.png" class="homeImage" alt="img"> -->

      <form class="addQuestion" action="/question" method="post">
        <h1 class="title">Hey Everyone! Welcome to QnA section</h1>
        <button class="btn btn-sm submitData" type="submit" name="submitQuestion">Ask Question</button>
        <br>
        <hr>
      </form>



    </div>



  </body>
</html>
